a {
  text-decoration: none;
}

.header {
  background-color: #f39c12;
  text-align: center;
  font-family: monospace;
}

.card-container {
  position: relative;
}

.card {
  width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
}

.container {
  border: solid 1px black;
}

.bg-nice {
  background-color: #f7f1e3;
}

.text {
  font-size: larger;
  font-weight: bold;
  color: grey;
}

.navbar {
  padding: 15px;
  background-color: #ecf0f1;
}
